.mostrarCotizacion {
    text-align: center;
}

.resumen{
    background: #723D46;
    margin-top: 15px;
    padding: 10px;

    h2{
        color: white;
    }

    p{
        color: white;
    }
}

.total{
    background: #D7D9D7;
    color: #211B22;
    margin-top: 10px;
    padding: 5px;

}